.register{
    h3{
        font-weight: 900;
        font-size: 48px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 30px;
        span{
            font-weight: 500;
            font-size: 20px;
        }
    }
    .form-register{
        position: relative;
        width: 620px;
        margin: 0 auto;
        color: $hex-brown;
        box-shadow: $form-shadow;
        padding: 15px;
        @include media-w667(){
            width: 350px;
        }
        @include media-w414(){
            width: 330px;
        }
        @include media-w375(){
            width: 280px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: $hex-orange;
        }
        h4{
            font-family: 'Noto Sans TC';
            font-weight: 900;
            font-size: 18px;
            text-align: center;
        }
        > div{
            display: flex;
            justify-content: center;
            @include media-w667(){
                flex-direction: column;
            }
            .clause{
                width: 300px;
                padding: 20px 20px 0 0;
                @include media-w667(){
                    width: 100%;
                    padding: 20px 0 20px 2px;
                    border-bottom: 1px dashed rgba($hex-brown,0.5);
                }
                h5{
                    font-size: 18px;
                    padding-bottom: 10px;
                }
                p{
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 1.4;
                    padding-bottom: 10px;
                    @include media-w667(){
                        line-height: 1.3;
                    }
                }
                label{
                    color: $hex-orange;
                    font-size: 13px;
                }
            }
            .form-main{
                width: 270px;
                @include media-w667(){
                    padding-top: 5px;
                    width: 100%;
                }
                .btn-orange{
                    width: 125px;
                    align-self: flex-end;
                }
            }
        }
    }
}